export(ARI)
export(bormuth)
exportClasses(kRp.analysis)
exportClasses(kRp.corp.freq)
exportClasses(kRp.hyphen)
exportClasses(kRp.hyph.pat)
exportClasses(kRp.lang)
exportClasses(kRp.readability)
exportClasses(kRp.tagged)
exportClasses(kRp.TTR)
exportClasses(kRp.txt.freq)
exportClasses(kRp.txt.trans)
export(C.ld)
export(coleman)
export(coleman.liau)
export(CTTR)
export(dale.chall)
export(danielson.bryan)
export(dickes.steiwer)
export(DRP)
export(ELF)
export(farr.jenkins.paterson)
export(flesch)
export(flesch.kincaid)
export(FOG)
export(FORCAST)
export(fucks)
export(get.kRp.env)
export(guess.lang)
export(harris.jacobson)
export(HDD)
export(hyphen)
export(K.ld)
export(kRp.cluster)
export(kRp.filter.wclass)
export(kRp.freq.analysis)
export(kRp.POS.tags)
export(kRp.text.analysis)
export(kRp.text.paste)
export(kRp.text.transform)
export(lex.div)
export(lex.div.num)
export(linsear.write)
export(LIX)
export(maas)
export(manage.hyph.pat)
export(MATTR)
exportMethods(correct.hyph)
exportMethods(correct.tag)
exportMethods(plot)
exportMethods(query)
exportMethods(show)
exportMethods(summary)
export(MSTTR)
export(MTLD)
export(nWS)
export(readability)
export(readability.num)
export(read.corp.celex)
export(read.corp.custom)
export(read.corp.LCC)
export(read.hyph.pat)
export(RIX)
export(R.ld)
export(segment.optimizer)
export(set.kRp.env)
export(S.ld)
export(SMOG)
export(spache)
export(strain)
export(textFeatures)
export(tokenize)
export(traenkle.bailer)
export(treetag)
export(TRI)
export(TTR)
export(U.ld)
export(wheeler.smith)
export(WSTF)
import(methods)
